<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FruitClassTeachingMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.FruitClassTeaching">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_name" jdbcType="NVARCHAR" property="name" />
    <result column="class_character" jdbcType="NVARCHAR" property="character" />
    <result column="class_type" jdbcType="NVARCHAR" property="type" />
    <result column="class_yesorno" jdbcType="NVARCHAR" property="yesorno" />
    <result column="class_credits" jdbcType="DECIMAL" property="credits" />
    <result column="class_hours" jdbcType="DECIMAL" property="hours" />
    <result column="class_number" jdbcType="TINYINT" property="classesNumber" />
    <result column="class_parallel" jdbcType="INTEGER" property="parallelClassesNumber" />
    <result column="class_homework_number" jdbcType="INTEGER" property="homeworkNumber" />
    <result column="class_correcting_number" jdbcType="INTEGER" property="correctingNumber" />
    <result column="class_answering_number" jdbcType="INTEGER" property="answeringNumber" />
    <result column="class_note" jdbcType="NVARCHAR" property="note" />
    <result column="class_year" jdbcType="INTEGER" property="year" />
    <result column="class_status" jdbcType="NVARCHAR" property="status" />
    <result column="class_semester" jdbcType="INTEGER" property="semester" />
    <result column="class_teacher" jdbcType="NVARCHAR" property="classTeacher" />
  </resultMap>


  <select id="getClassTeaching" parameterType="com.example.demo.model.FruitClassTeaching" resultMap="BaseResultMap">
    SELECT * FROM fruit_class_teaching WHERE 1=1
      AND class_teacher=#{classTeacher}
    <if test="year!=null and year!=''">
      AND class_year=#{year}
    </if>
    <if test="semester!=null and semester!=''">
      AND class_semester=#{semester}
    </if>
  </select>
</mapper>