<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FruitExperimentTeachingMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.FruitExperimentTeaching">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="NVARCHAR" property="name" />
    <result column="character" jdbcType="NVARCHAR" property="character" />
    <result column="all_time" jdbcType="DECIMAL" property="allTime" />
    <result column="week_time" jdbcType="DECIMAL" property="weekTime" />
    <result column="student_number" jdbcType="INTEGER" property="studentNumber" />
    <result column="parallel_chasses_number" jdbcType="INTEGER" property="parallelChassesNumber" />
    <result column="grouping_per_class_number" jdbcType="INTEGER" property="groupingPerClassNumber" />
    <result column="instructors_number" jdbcType="INTEGER" property="instructorsNumber" />
    <result column="experiment_type" jdbcType="NVARCHAR" property="experimentType" />
    <result column="report_number" jdbcType="INTEGER" property="reportNumber" />
    <result column="corrections_number" jdbcType="INTEGER" property="correctionsNumber" />
    <result column="note" jdbcType="NVARCHAR" property="note" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="semester" jdbcType="INTEGER" property="semester" />
    <result column="status" jdbcType="NVARCHAR" property="status" />
    <result column="teacher" jdbcType="NVARCHAR" property="teacher" />
  </resultMap>

  <select id="getExperimentTeaching" parameterType="com.example.demo.model.FruitExperimentTeaching" resultMap="BaseResultMap">
    SELECT * FROM fruit_experiment_teaching WHERE 1=1
    AND teacher=#{teacher}
    <if test="year!=null and year!=''">
      AND class_year=#{year}
    </if>
    <if test="semester!=null and semester!=''">
      AND class_semester=#{semester}
    </if>
  </select>
</mapper>