<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OthersAnnualreviewstatusMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.OthersAnnualreviewstatus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="assessmentStatus" jdbcType="NVARCHAR" property="assessmentStatus" />
    <result column="note" jdbcType="NVARCHAR" property="note" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="status" jdbcType="NVARCHAR" property="status" />
    <result column="classTeacher" jdbcType="NVARCHAR" property="classTeacher" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from others_annualReviewStatus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.OthersAnnualreviewstatus">
    insert into others_annualReviewStatus (assessmentStatus, note,
      year, status, classTeacher
      )
    values (#{assessmentStatus,jdbcType=NVARCHAR}, #{note,jdbcType=NVARCHAR},
      #{year,jdbcType=INTEGER}, #{status,jdbcType=NVARCHAR}, #{classTeacher,jdbcType=NVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.OthersAnnualreviewstatus">
    update others_annualReviewStatus
    set assessmentStatus = #{assessmentStatus,jdbcType=NVARCHAR},
      note = #{note,jdbcType=NVARCHAR},
      year = #{year,jdbcType=INTEGER},
      status = #{status,jdbcType=NVARCHAR},
      classTeacher = #{classTeacher,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, assessmentStatus, note, year, status, classTeacher
    from others_annualReviewStatus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, assessmentStatus, note, year, status, classTeacher
    from others_annualReviewStatus
  </select>
  <select id="selectByClassTeacher" parameterType="com.example.demo.model.OthersAnnualreviewstatus" resultMap="BaseResultMap">
    SELECT * FROM others_annualReviewStatus WHERE 1=1
    AND classTeacher=#{classTeacher,jdbcType=NVARCHAR}
    <if test="year!=null and year!=''">
      AND year=#{year,jdbcType=INTEGER}
    </if>
  </select>
</mapper>