<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TeachingconstructionTeachingactivitiesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.TeachingconstructionTeachingactivities">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="classTeacher" jdbcType="NVARCHAR" property="classTeacher"/>
    <result column="status" jdbcType="NVARCHAR" property="status"/>
    <result column="absent" jdbcType="DECIMAL" property="absent"/>
    <result column="lateDeparture" jdbcType="DECIMAL" property="lateDeparture"/>
    <result column="note" jdbcType="NVARCHAR" property="note"/>
    <result column="year" jdbcType="INTEGER" property="year"/>
    <result column="semester" jdbcType="NVARCHAR" property="semester"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teachingConstruction_teachingActivities
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.TeachingconstructionTeachingactivities">
    insert into teachingConstruction_teachingActivities (classTeacher, status,
      absent, lateDeparture, note, 
      year, semester)
    values (#{classTeacher,jdbcType=NVARCHAR}, #{status,jdbcType=NVARCHAR},
      #{absent,jdbcType=DECIMAL}, #{lateDeparture,jdbcType=DECIMAL}, #{note,jdbcType=NVARCHAR}, 
      #{year,jdbcType=INTEGER}, #{semester,jdbcType=NVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.TeachingconstructionTeachingactivities">
    update teachingConstruction_teachingActivities
    set classTeacher = #{classTeacher,jdbcType=NVARCHAR},
      status = #{status,jdbcType=NVARCHAR},
      absent = #{absent,jdbcType=DECIMAL},
      lateDeparture = #{lateDeparture,jdbcType=DECIMAL},
      note = #{note,jdbcType=NVARCHAR},
      year = #{year,jdbcType=INTEGER},
      semester = #{semester,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, classTeacher, status, absent, lateDeparture, note, year, semester
    from teachingConstruction_teachingActivities
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllByClassTeacher" parameterType="java.util.List" resultMap="BaseResultMap">
    select *
    from teachingConstruction_teachingActivities
    WHERE classTeacher in
    <foreach collection="list" item="classTeacher" index="index"
             open="(" close=")" separator=",">
      #{classTeacher}
    </foreach>
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select *
    from teachingConstruction_teachingActivities
  </select>
  <select id="selectByClassTeacher" parameterType="com.example.demo.model.TeachingconstructionTeachingactivities"
          resultMap="BaseResultMap">
        SELECT * FROM teachingConstruction_teachingActivities WHERE 1=1
        AND classTeacher=#{classTeacher,jdbcType=NVARCHAR}
        <if test="year!=null and year!=''">
            AND year=#{year,jdbcType=INTEGER}
        </if>
    </select>
</mapper>