<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TeachingconstructionComprehensivereformMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.TeachingconstructionComprehensivereform">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="classTeacher" jdbcType="NVARCHAR" property="classTeacher"/>
    <result column="status" jdbcType="NVARCHAR" property="status"/>
    <result column="character" jdbcType="NVARCHAR" property="character"/>
    <result column="undertakingTasks" jdbcType="NVARCHAR" property="undertakingTasks"/>
    <result column="note" jdbcType="NVARCHAR" property="note"/>
    <result column="year" jdbcType="INTEGER" property="year"/>
    <result column="semester" jdbcType="NVARCHAR" property="semester"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teachingConstruction_comprehensiveReform
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.TeachingconstructionComprehensivereform">
    insert into teachingConstruction_comprehensiveReform (classTeacher, status,
      character, undertakingTasks, note, 
      year, semester)
    values (#{classTeacher,jdbcType=NVARCHAR}, #{status,jdbcType=NVARCHAR},
      #{character,jdbcType=NVARCHAR}, #{undertakingTasks,jdbcType=NVARCHAR}, #{note,jdbcType=NVARCHAR}, 
      #{year,jdbcType=INTEGER}, #{semester,jdbcType=NVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.TeachingconstructionComprehensivereform">
    update teachingConstruction_comprehensiveReform
    set classTeacher = #{classTeacher,jdbcType=NVARCHAR},
      status = #{status,jdbcType=NVARCHAR},
      character = #{character,jdbcType=NVARCHAR},
      undertakingTasks = #{undertakingTasks,jdbcType=NVARCHAR},
      note = #{note,jdbcType=NVARCHAR},
      year = #{year,jdbcType=INTEGER},
      semester = #{semester,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, classTeacher, status, character, undertakingTasks, note, year, semester
    from teachingConstruction_comprehensiveReform
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllByClassTeacher" parameterType="java.util.List" resultMap="BaseResultMap">
    SELECT * FROM teachingConstruction_comprehensiveReform
    WHERE classTeacher in
    <foreach collection="list" item="classTeacher" index="index"
             open="(" close=")" separator=",">
      #{classTeacher}
    </foreach>
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    SELECT * FROM teachingConstruction_comprehensiveReform
  </select>
  <select id="selectByClassTeacher" parameterType="com.example.demo.model.TeachingconstructionComprehensivereform"
          resultMap="BaseResultMap">
        SELECT * FROM teachingConstruction_comprehensiveReform WHERE 1=1
        AND classTeacher=#{classTeacher,jdbcType=NVARCHAR}
        <if test="year!=null and year!=''">
            AND year=#{year,jdbcType=INTEGER}
        </if>
    </select>
</mapper>