<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper" >

    <resultMap id="BaseResultMap" type="com.example.demo.model.User">
        <id column="access_name" jdbcType="VARCHAR" property="accessName"/>
        <result column="access_pass" jdbcType="VARCHAR" property="accessPass"/>
        <result column="access_identity" jdbcType="VARCHAR" property="accessIdentity"/>
    </resultMap>

    <select id="getTeacher" resultMap="BaseResultMap" parameterType="com.example.demo.model.User">
        SELECT access_name,access_pass, access_identity FROM user_access WHERE
        #{accessIdentity}= 'teacher'
        <if test="accessName!=null and accessName!=''">
            AND access_name=#{accessName}
        </if>
        <if test="accessPass!=null and accessPass!=''">
            AND access_pass=#{accessPass}
        </if>
    </select>



</mapper>