<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper" >

    <resultMap id="BaseResultMap" type="com.example.demo.model.User">
        <id column="gonghao" jdbcType="VARCHAR" property="gonghao"/>
        <result column="inkey" jdbcType="VARCHAR" property="inkey"/>
    </resultMap>

    <select id="getTeacher" resultMap="BaseResultMap" parameterType="com.example.demo.model.User">
        SELECT gonghao,inkey FROM teachers WHERE
        1=1
        <if test="#{gonghao}!=null">
            AND gonghao=#{gonghao}
        </if>
        <if test="#{inkey}!=null">
            AND inkey=#{inkey}
        </if>
    </select>



</mapper>